.footer-fixed {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.footer-container {
    padding: 0 0 0 45px !important;
    /* background: linear-gradient(to bottom, #8EC5FC, #3A539B); */
    background: #2f5972;
    z-index: 1000;
}

.container-fluid.footer-background {
    /* background: linear-gradient(to bottom, #8EC5FC, #3A539B); */
    background: #2f5972;
    color: #fff;
    font-weight: 500;
    font-size: large;
    padding: 20px;
    box-shadow: 11px 11px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 769px) {
    .UWindsor-footer-logo {
        padding-left: 27%;
    }
}

@media (max-width: 768px) {
    .footer-container {
        text-align: center;
        padding: 20px;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col-lg-2,
    .col-lg-5 {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .col-lg-5.col-md-5.text-footer.text-end {
        text-align: center;
    }

    .UWindsor-footer-logo {
        max-width: 120px;
    }

    .text-footer {
        margin-top: 10px;
    }

    .col-lg-5.col-md-5.text-end.px-5 {
        padding: 0;
    }

    .col-lg-5.col-md-5.col-sm-12.text-end.px-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-footer {
        margin-bottom: 5px;
    }
}

