.reset-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #5f7f9f, #2c3d5c);
  }
  
  .reset-password-container {
    max-width: 400px;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .loader {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
  }
  