.sidemenu-container {
    position: fixed;
    height: 100%;
    z-index: 1000;
}

.content {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #bdc3c7;
    font-style: normal;
}

.navBackground_expanded {
    height: 100%;
    width: 235px;
    padding: 0%;
    transition: width 0.4s ease, background-color 1s ease, box-shadow 1s ease;
}

.navBackground {
    height: 100%;
    width: 55px;
    padding: 0%;
}

.navBackground:hover {
    width: 235px;
    background-color: #005596;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navBackground,
.navBackground_expanded {
    /* background: linear-gradient(135deg, #c4d0cf, #9fc5d1, #7ab2c7, #829bb4, #b2a3b6); */
    /* background: linear-gradient(135deg, #b2a3b6, #829bb4, #7ab2c7, #9fc5d1, #c4d0cf); */
    /* background-color: #1D3A5F; */
    background-color: #005596;
    color: #ecf0f1;
}

.nav_menu_icon {
    height: 55px !important;
    cursor: pointer !important;
}

.nav_collapsed_menu_icon {
    height: 45px !important;
    cursor: pointer !important;
}

.logo_icon {
    margin-left: 10px;
}

.nav-item.active span,
.nav-item.active a {
    color: #E6E6E6 !important;
    /* font-size: 18px; */
    /* transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out; */
}

.nav-item span,
.nav-item a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #E6E6E6;
    font-style: normal;
    text-decoration: none !important;
}

.nav-item span:hover,
.nav-item a:hover {
    color: #FFD700 !important;
    font-size: 16px;
    transition: color 1s ease-out;
}

nav {
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.nav-item.active {
    /* transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out; */
    background-color: #5c6f82;
    border-radius: 8px;
}

/* Default styles for nav items */
.nav-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #E6E6E6;
    /* Default text color */
    font-style: normal;
    text-decoration: none !important;
    height: 45px;
    display: flex;
    align-items: center;
}

/* Styles for hovered items */
.nav-item:hover {
    color: #FFD700 !important;
    font-size: 16px;
    /* transition: color 0.1s ease-in-out, font-size 0.1s ease-in-out; */
}

/* Ensure that span does not override link styling */
.nav-item span {
    display: inline-block;
    text-decoration: none !important;
    /* Remove underline from span */
}

.nav_menu_icon {
    height: 33px;
}

.text-menu {
    font-size: 16px;
    margin-bottom: 10px;
}

.text-menu-category {
    color: #999;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.nav_sub_menu_icon {
    height: 25px;
}

.notification-badge {
    position: absolute;
    top: -4px;
    right: -4px;
    transform: translate(50%, -50%);
    background-color: #FF3300;
    color: white;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    width: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.notifcation-badge-expand {
    background-color: #FF3300;
    color: white;
    font-size: 12px;
    top: -4px;
    right: -4px;
    font-weight: bold;
    height: 18px;
    width: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}