.milestone_Heading {
    background: linear-gradient(135deg, #2b2b2b, #555555 70%, #888888);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", system-ui;
    font-weight: 600 !important;
    font-style: normal;
    font-size: xxx-large !important;
}

.milestone_container {
    padding-left: 65px !important;
}

.milestone_text {
    font-weight: 600 !important;
    display: block;
    font-size: 1.1rem;
    font-family: "Poppins", system-ui;
    color: #000;
}

.milestone_form input[type="text"],
.milestone_form input[type="number"] {
    display: block;
    font-family: "Poppins", system-ui;
    width: 75%;
    padding: 10px;
    margin: 10px;
    border: 2px solid #6a6a6a;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.milestone_form {
    padding-left: 20px;
}

.button_container {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .milestone_container {
        padding-left: 45px !important;
    }

    .milestone_Heading {
        background: linear-gradient(135deg, #2b2b2b, #555555 70%, #888888);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        font-family: "Poppins", system-ui;
        font-weight: 500 !important;
        font-style: normal;
        font-size: xx-large !important;
        text-align: center;
    }
}