.milestone_Heading {
    background: linear-gradient(135deg, #2b2b2b, #555555 70%, #888888);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", system-ui;
    font-weight: 600 !important;
    font-style: normal;
    font-size: xxx-large !important;
}

.milestone_container {
    padding-left: 65px !important;
}

.milestone_label,
.modal_text_header {
    font-weight: 600 !important;
    display: block;
    font-size: x-large !important;
    font-family: "Poppins", system-ui;
    color: #000;
}

.milestone_text {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
    color: #F0F0F0 !important;
    font-size: large !important;
}

.milestone_title_text {
    font-family: "Poppins", system-ui;
    font-weight: bold;
    font-style: normal;
    color: #F0F0F0 !important;
    font-size: large !important;
}

.milestone_input_text,
.modal_text_body {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
    color: #000 !important;
    font-size: medium !important;
}

.milestone_form input[type="text"],
.milestone_form input[type="number"]
{
    display: block;
    font-family: "Poppins", system-ui;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #6a6a6a;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.milestone_form {
    padding-left: 20px;
}

.button_container {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-footer {
    justify-content: center !important;
}

@media (max-width: 768px) {
    .milestone_container {
        padding-left: 45px !important;
    }

    .milestone_Heading {
        background: linear-gradient(135deg, #2b2b2b, #555555 70%, #888888);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        font-family: "Poppins", system-ui;
        font-weight: 500 !important;
        font-style: normal;
        font-size: xx-large !important;
        text-align: center;
    }
}

.milestone_datepicker {
    display: block;
    cursor: pointer !important;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #6a6a6a;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    box-shadow: 2px 2px 5px rgba(203, 164, 164, 0.1);
}

.delete_icon {
    height: 35px;
    display: inline-block;
    cursor: pointer;
    margin-left: 12%;
}

.edit_icon,
.cancel_icon,
.complete_icon {
    height: 27px;
    cursor: pointer;
}

.milestone-input-container {
    display: inline-block;
    white-space: nowrap;
}

.milestone_input_date {
    display: inline-block;
    margin-right: 8px;
}

td {
    vertical-align: middle !important;
}

/* Cards */
.dashboard-container {
    margin-top: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.box {
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.box h3 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    background-color: #444;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    margin-bottom: 10px;
}

.box p {
    font-size: 0.8rem;
    opacity: 0.8;
}

.milestone-details-header {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #000000 !important;
    background-color: #0000000D !important;
    font-size: large !important;
}

.milestone-details-data {
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
    color: #000000 !important;
    background-color: #fff !important;
    font-size: large !important;
}