.nav-item {
    text-decoration: none !important;
    color: #fff !important;
}

.nav-item.active {
    color: #f58e07 !important;
}

.heading {
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;
    font-style: normal;
    color: #fff !important;
    font-size: xx-large !important;
    letter-spacing: 1.5px;
}

.nav-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: large;
}

.sparklink_logo {
    height: 58px;
}

@media (max-width: 768px) {
    .heading {
        text-align: center;
    }

    .nav-text {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .nav-item {
        margin-bottom: 0;
    }
}

@media (min-width: 769px) {
    .nav-text {
        justify-content: flex-end;
        padding-right: 0px;
    }
}