body {
  height: 100vh;
  background: linear-gradient(135deg, #f0f0f0, #f5f0ff);
}

.button-home {
  background-color: #1D3A5F;
  color: #fff;
  border: solid 1px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-home:hover {
  background-color: #fff;
  color: #1D3A5F;
  border: solid 1px;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex-grow: 1;
}

.search-select-text {
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: normal;
  color: #000 !important;
  font-size: medium !important;
}

.button-delete {
  background-color: #ff3d3d;
  color: #fff;
  border: solid 1px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-delete:hover {
  background-color: #fff;
  color: #ff3d3d;
  border: solid 1px;
}