.text_body {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    font-size: large;
}

.text_caption {
    font-family: "Poppins", system-ui;
    font-weight: 600 !important;
    font-style: normal;
    color: #fff !important;
    font-size: xxx-large !important;
}

.text_sub_caption {
    font-family: "Poppins", system-ui;
    font-weight: 500 !important;
    font-style: normal;
    color: #dbdbdb !important;
    font-size: x-large !important;
}

.home_container {
    padding: 2px 35px 35px 65px !important;
}

.container-fluid.background {
    /* background: linear-gradient(135deg, #0d1b2a, #1b263b 70%, #415a77); */
    /* background: linear-gradient(to top, #5f7f9f, #2c3d5c); */
    background: #005596;
    border-radius: 15px;
    height: auto;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 11px 11px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.carousel-indicators {
    display: none !important;
}

/* .carousel-indicators {
    bottom: 0 !important;
    position: absolute !important;
} */

.carousel-control-prev,
.carousel-control-next {
    display: none !important;
}

.button_text {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    font-size: large;
}

@media (max-width: 768px) {
    .text_body {
        font-size: medium;
    }

    .text_caption {
        font-size: xx-large !important;
    }

    .text_sub_caption {
        font-size: large !important;
    }

    .container-fluid.background {
        height: auto;
        padding: 10px;
    }

    .button_text {
        font-size: medium;
        padding: 10px 20px;
        margin: 20px auto;
    }
}

@media (max-width: 576px) {
    .text_caption {
        font-size: large !important;
    }

    .text_sub_caption {
        font-size: medium !important;
    }
}


.container-fluid.background_level_2 {
    background: #fff;
    border-radius: 15px;
    height: auto;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 11px 11px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.text_tagline {
    font-family: "Poppins", system-ui;
    font-weight: 600 !important;
    font-style: normal;
    /* color: #000 !important; */
    /* background: linear-gradient(135deg, #1a00ff, #ff007b 70%, #ff3f6c); */
    background: linear-gradient(135deg, #2b2b2b, #555555 70%, #888888);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: xx-large !important;
}

.text_subtagline {
    font-family: "Poppins", system-ui;
    font-weight: 400 !important;
    font-style: normal;
    /* background: linear-gradient(135deg, #E6B875, #B8792E 70%, #E6C085);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; */
    color: #000 !important;
    font-size: medium !important;
    padding-top: 10px;
}

.view_card {
    height: 300px;
    width: 100%;
    background: linear-gradient(135deg, #1a00ff, #ff007b 70%, #ff3f6c);
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 11px 11px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    max-height: 500px !important;
    overflow-y: auto !important;
}

.card {
    height: 300px;
    width: 100%;
    background: linear-gradient(135deg, #1a00ff, #ff007b 70%, #ff3f6c);
    border-radius: 8px;
    border: none !important;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 11px 11px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    max-height: 500px !important;
    overflow-y: auto !important;
}

.card_text_subcaption {
    color: #000;
}

.card_text_caption {
    font-family: "Poppins", system-ui;
    font-weight: 500 !important;
    font-style: normal;
    color: #000 !important;
    font-size: x-large !important;
}

.vertical-line {
    height: 100%;
    border-left: 2px solid black;
}

.separator-right {
    border-right: 1px solid #ccc;
}

.homepage_card {
    height: auto;
    max-width: 100% !important;
    object-fit: contain;
    background-color: rgba(211, 211, 211, 0.1);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow-y: auto;
}

.homepage_img {
    height: auto;
    max-width: 100% !important;
    object-fit: contain;
    /* background-color: rgba(211, 211, 211, 0.1); */
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); */
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    transition: transform 0.2s, box-shadow 0.2s;
    overflow-y: auto;
}

.homepage_caption_img {
    height: auto;
    max-width: 100% !important;
    object-fit: contain;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow-y: auto;
}

.card_caption {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
    color: #000 !important;
    background: linear-gradient(135deg, #0d1b2a, #1b263b 70%, #415a77);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: large !important;
}

.card_subcaption {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #000 !important;
    font-size: large !important;
}

.button-card {
    background-color: #FFCE00;
    color: #585858;
    border: none;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-card:hover {
    background-color: #585858;
    color: #FFCE00;
    border: 1px solid #585858;
}

.row {
    display: flex;
    align-items: center;
}

.border_card.col-lg-6.col-md-6 {
    position: relative;
    padding-left: 20px;
}

@media (min-width: 768px) {
    .border_card.col-lg-6.col-md-6::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 70%;
        border-left: 1px solid #d0d0d0 !important;
    }
}

@media only screen and (min-width: 1200px) {
    .heading {
        padding-left: 15%;
    }
}

/* .home-footer-container {
    padding: 0 38px 38px 65px !important;
} */